.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    border: solid 2px var(--gris);
    margin: 0 auto;
    padding: 20px;
    width: 800px;
}

.img {
    height: 50px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    width: max-content;
    padding: 8px;
    border: solid 2px var(--negro);
    border-radius: 4px;
    background-color: var(--negro);
    color: var(--blanco);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}

.btn:hover {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    border: solid 2px var(--gris-oscuro);
}