.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px auto 20px auto;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}


.detailImg {
    width: 100%;
    max-width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

/* .detailImg:hover {
    transform: scale(1.3);
} */

@media(min-width:680px) {
    .container {
        flex-direction: row;
    }
}