:root {
    --azul: #1A73E8;
    --azul-claro: #669DF6;
    --azul-oscuro: #125bbb;
    --gris: #C8C8C8;
    --gris-claro: #F5F5F5;
    --gris-oscuro: #444;
    --blanco: #fff;
    --negro: #000;
    --rojo: #db0404;
    --verde: #2e6b26;
}

input,
textarea {
    padding: 10px;
    border: none;
    border: solid 1px var(--gris);
    border-radius: 4px;
    outline: none;
    font-size: 1em;
}

/**/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blanco);
    border-bottom: solid 1px var(--negro);
    padding: 0 10px;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    border-bottom: solid 1px;
    position: fixed;
    top: 0;
}

.logo {
    height: 60px;
}

.menu {
    display: none;
    gap: 20px;
}

.menuItem {
    list-style: none;
}

.menuLink {
    color: var(--negro);
    text-decoration: none;
}

.cart {
    color: var(--negro);
    text-decoration: none;
}


.derecha {
    display: flex;
    gap: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.userTxt {
    font-size: 0.8em;
}

@media(min-width:900px) {
    .menu {
        display: flex;
        gap: 20px;
    }
}

/**/


.container {
    max-width: 1366px;
    margin: 0 auto;
}

button {
    width: 200px;
    font-size: 1em;
    transition: all 0.4s;
}

.btn1 {
    padding: 8px;
    border: solid 2px var(--negro);
    border-radius: 4px;
    background-color: var(--negro);
    color: var(--blanco);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}

.btn2 {
    padding: 8px;
    border: solid 2px var(--negro);
    border-radius: 4px;
    background-color: var(--blanco);
    color: var(--negro);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}

.btn1:hover, .btn2:hover {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    border: solid 2px var(--gris-oscuro);
}

/*Form*/

.form {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px auto;
}

.form button {
    margin: 0 auto;
}

@media (min-width: 600px) {
    .form {
        width: 400px;
    }
}